<script id="rigTemplate" type="text/html">
  <a-entity></a-entity>
</script>

<script id="headTemplate" type="text/html">
	<a-entity class="avatar">
		<a-sphere class="head"
			color="#5985ff"
			scale="0.45 0.5 0.4"
			random-color></a-sphere>
		<a-entity class="face"
			position="0 0.05 0">
			<a-sphere class="eye"
				color="#efefef"
				position="0.16 0.1 -0.35"
				scale="0.12 0.12 0.12">
				<a-sphere class="pupil"
					color="#111"
					position="0 0 -1"
					scale="0.2 0.2 0.2"></a-sphere>
			</a-sphere>
			<a-sphere class="eye"
				color="#efefef"
				position="-0.16 0.1 -0.35"
				scale="0.12 0.12 0.12">
				<a-sphere class="pupil"
					color="#111"
					position="0 0 -1"
					scale="0.2 0.2 0.2"></a-sphere>
			</a-sphere>
		</a-entity>
	</a-entity>
</script>

<script id="handTemplate" type="text/html">
  <a-box scale="0.07 0.07 0.07" random-color></a-box>
</script>
