<script id="rigTemplate" type="text/html">
  <a-entity></a-entity>
</script>

<script id="headTemplate" type="text/html">
  <a-entity class="avatar" sub-object="from:#avatarObj; name: head" material="color: #62799f; metalness: 0.26; roughness: 0.6"></a-entity>
  <a-entity class="avatar" sub-object="from:#avatarObj; name: headset" material="color: #22353F; metalness: 0.26; roughness: 0.6"></a-entity>
</script>

<script id="leftHandTemplate" type="text/html">
  <a-entity sub-object="from: #leftHandObj; name: glove-l" material="color: #686B74; metalness: 0.26; roughness: 0.6;"></a-entity>
  <a-entity sub-object="from: #leftHandObj; name: ornaments-l" material="color: #355DCE; metalness: 0; roughness: 0.949; emissive: #355DCE; emissiveIntensity: 0.679">
</script>

<script id="rightHandTemplate" type="text/html">
  <a-entity sub-object="from: #rightHandObj; name: glove-r" material="color: #686B74; metalness: 0.26; roughness: 0.6;"></a-entity>
  <a-entity sub-object="from: #rightHandObj; name: ornaments-r" material="color: #355DCE; metalness: 0; roughness: 0.949; emissive: #355DCE; emissiveIntensity: 0.679">
</script>
