{% set ROOT = IS_HOME and '' or '../' %}
{% from './templates/portal.html' import portal %}

<html>
  <head>
    <title>OASIS</title>
    <link rel="shortcut icon" href="{{ ROOT }}assets/img/favicon.png" type="image/x-icon">
    <script src="https://rawgit.com/aframevr/aframe/cc70719/dist/aframe-master.min.js"></script>
    <script src="{{ ROOT }}build/socket.io.min.js"></script>
    <script src="{{ ROOT }}build/easyrtc.js"></script>
    <script src="{{ ROOT }}build/build.js"></script>
    {% if IS_PRODUCTION %}<style>.a-inspector-loader{ display: none; }</style>{% endif %}
    <style>
      html { background: #111; }
    </style>
  </head>
  <body>
    <audio id="audio" src="{{ IS_HOME and 'assets/audio/worldinmyeyes.mp3' or song }}" autoplay loop></audio>
    <audio id="portalSound" src="{{ ROOT }}assets/audio/portal.mp3"></audio>

    <script>
      document.getElementById('audio').volume = 0.20;
      if (window.self !== window.top) { document.getElementById('audio').volume = 0; }
    </script>

    <a-scene
      {% for zoneProperty in zoneProperties %}
        {{ zoneProperty + ' ' }}
      {% endfor %}
      data-is-home="{{ IS_HOME and 'true' or 'false' }}"
      debug-controller="enabled: true"
      environment="{{ environment or 'preset: tron; gridColor: orange; dressing1Amount: 80; dressing1Color: #B55; dressing2: islands; dressing2Amount: 30' }}"
      teleport-refresh
      networked-scene="serverURL: shy-teeth.glitch.me; room: {{ seed or 'default' }}; debug: true">
      <a-assets>
        <img id="portalImg" src="{{ ROOT }}assets/img/portal.png">
        <img id="shadowImg" src="{{ ROOT }}assets/img/shadow.png">
        <img id="sliceImg" src="{{ ROOT }}assets/img/slice.png">
        {% if IS_HOME %}
          <img id="logo" src="{{ ROOT }}assets/img/logo.png">
          <audio id="message" src="{{ ROOT }}assets/audio/message.mp3" preload="auto"></audio>
        {% endif %}
        {% if IS_GOAL %}
          <img src="{{ ROOT }}assets/img/envmap.jpg" id="envmapImg">
          <img src="{{ ROOT }}assets/img/grad.png" id="gradImg">
        {% endif %}

        <a-mixin id="font" text="font: {{ ROOT }}assets/fonts/KelsonSans.fnt; fontImage: {{ ROOT }}assets/fonts/KelsonSans.png"></a-mixin>

        <a-mixin id="slice" slice9="color: #050505; src: #sliceImg; left: 50; right: 52; top: 50; bottom: 52; padding: 0.04"></a-mixin>

        <a-mixin id="hand"
          teleport-controls="type: line; collisionEntities: [mixin~=portal], .environmentGround; cameraRig: #cameraRig; teleportOrigin: #camera; startEvents: trackpaddown, triggerdown; endEvents: trackpadup, triggerup; landingMaxAngle: 360; hitCylinderColor: #e6e8e6; curveHitColor: #e6e8e6; hitCylinderHeight: 0.05; checkCollisionChildren: false"
          teleport-listener
          touch
        ></a-mixin>

        <a-mixin id="portal"
          animation__mouseenter="property: components.material.material.uniforms.strokeColor.value; type: color; from: #113; to: #DDE; startEvents: mouseenter; easing: easeInOutCubic; dur: 200"
          animation__mouseleave="property: components.material.material.uniforms.strokeColor.value; type: color; from: #DDE; to: #113; startEvents: mouseleave; easing: easeInOutCubic; dur: 200"
          look-at="#camera"
          geometry="primitive: circle; segments: 40"
          material="shader: oasisPortal; backgroundColor: #333; strokeColor: #113; transparent: true"
          raycastable></a-mixin>

        <a-mixin id="hoverAnimation"
          animation="property: object3D.position.y; from: 1.6; to: 1.8; dir: alternate; loop: true; dur: 5000; easing: easeInOutCubic; pauseEvents: touched"></a-mixin>

        <a-mixin id="item"
          mixin="hoverAnimation"
          touchable
          animation__itemtouched="property: object3D.rotation.y; dur: 2500; easing: easeInExpo; to: 25; startEvents: touched"
          animation__itemtouched2="property: object3D.position.y; dur: 2500; easing: easeInExpo; to: 15; startEvents: touched"
          animation__itemtouched3="property: visible; delay: 2500; from: true; to: false; startEvents: touched"
          play-audio="event: touched; audio: {{ ROOT }}assets/audio/zelda.mp3; volume: 0.5"></a-mixin>

        {% include './templates/avatar.html' %}
      </a-assets>

      <a-entity id="cameraRig" networked="template: #rigTemplate; showLocalTemplate: false">
        <a-camera id="camera" look-controls position="0 1.6 0"
                  networked="template: #headTemplate; showLocalTemplate: false"></a-camera>

        <!-- Primary hand. -->
        <a-entity id="primaryHand" mixin="hand" hand-controls="right"
                  networked="template: #handTemplate; showLocalTemplate: false"></a-entity>

        <!-- Secondary hand. -->
        <a-entity id="secondaryHand" mixin="hand" hand-controls="left"
                  networked="template: #handTemplate; showLocalTemplate: false"></a-entity>
      </a-entity>

      <a-entity id="portals"
        mixin="hoverAnimation"
        {% if IS_HOME %}layout="type: circle; radius: 10; plane: xz" position="0 1.6 0"{% endif %}>
          {% for link in links %}
            {{ portal(link.zone.name, link.zone.url, link.zone.sectorType,
                      not IS_HOME and link.position, ROOT) }}
          {% endfor %}

          {% if not IS_HOME %}
            {{ portal('Start Zone', '../index.html', 'tron', '-2 0 3', ROOT, false, true) }}
            {{ portal('Previous Zone', '', sectorType, '2 0 3', ROOT, true) }}
          {% endif %}
      </a-entity>

      <a-entity id="portalShadows"
        {% if IS_HOME %}layout="type: circle; radius: 10; plane: xz"{% endif %}
        position="0 0.05 0">
          {% for link in links %}
            <a-entity
              geometry="primitive: plane; width: 2; height: 2"
              material="src: #shadowImg; shader: flat; transparent: true"
              rotation="-90 0 0"
              {% if not IS_HOME %}position="{{ link.position }}"{% endif %}></a-entity>
          {% endfor %}
      </a-entity>

      {% if IS_HOME %}
        <a-entity id="jadeKey" mixin="hoverAnimation" obj-model="obj: {{ ROOT }}assets/models/key/Key_01.obj" material="color: #AAFFAA" position="0 1.6 20" scale="0.005 0.005 0.005" animation="dur: 1500; easing: easeInOutQuad"></a-entity>

        <a-entity id="gundam" obj-model="obj: {{ ROOT }}assets/models/gundam/model.obj; mtl: {{ ROOT }}assets/models/gundam/materials.mtl" position="-10 7.8 -25" scale="5 5 5" rotation="0 210 0"></a-entity>

        <a-entity
          id="logo"
          animation="property: object3D.position.y; from: 10; to: 11; dir: alternate; loop: true; dur: 8000; easing: easeInOutCubic"
          geometry="primitive: plane; width: 8; height: 4" material="shader: flat; src: #logo; transparent: true" position="0 10 -15" scale="1.3 1.3 1.3"></a-entity>

        <a-entity
          id="leaderboard"
          mixin="slice font"
          slice9="color: #111; height: 5.5; width: 12.5; padding: 0.2"
          leaderboard
          text="baseline: bottom; color: #4ef580; width: 12; wrapCount: 35; zOffset: 0.1; value: parzival | 2000\nart3mis | 1000" position="-12 10 -9" look-at="0 0 0">
          <a-entity mixin="font" text="align: center; value: LEADERBOARD; width: 12" position="0 2 0.01"></a-entity>
        </a-entity>

        <a-entity
          id="instructionText"
          mixin="slice font"
          slice9="color: #111; height: 5.5; width: 12.5; padding: 0.7"
          text="color: #4ef580; width: 12; wrapCount: 35; zOffset: 0.1; value: GUNTERS.\nINSIDE THE OASIS\nLIES HIDDEN AN EGG\nWHOEVER FINDS THE EGG\nWILL INHERIT THE OASIS\nAND HALF A HUNDRED DOLLARS\n~" position="12 10 -9" look-at="0 0 0">
            <a-entity sound="src:#message; autoplay: true;"></a-entity>
          </a-entity>
      {% endif %}

      {% if hasHint %}
        <a-entity
          obj-model="obj: {{ ROOT }}assets/models/chest/model.obj; mtl: {{ ROOT }}assets/models/chest/materials.mtl"
          position="0 0.6 -4"
          touchable
          proxy-event="event: touched; to: #hintText; as: activatehint"
          >
          <a-entity id="hintText"
            mixin="slice font"
            slice9="color: #111; height: 0.75; width: 3.8"
            text="color: #4ef580; value: {{ inThisSector and 'THE EGG IS NEAR\n~' or 'THE EGG IS NOT IN THIS SECTOR\n~' }}; width: 3.8; wrapCount: 35; xOffset: 0.1; zOffset: 0.1"
            position="0 -1 -0.5"
            animation__activate="property: object3D.position.y; from: -1; to: 2; easing: easeInOutCubic; startEvents: activatehint"></a-entity>
        </a-entity>
      {% endif %}

      {% if IS_GOAL %}
        {% include "./templates/goal.html" %}
      {% endif %}

      {% if not IS_PRODUCTION %}
        <a-entity id="mouseCursor" cursor="rayOrigin: mouse" raycaster="objects: [raycastable]; recursive: false" debug-cursor></a-entity>
      {% endif %}
    </a-scene>
  </body>
</html>
