<html>
  <head>
    <title>Supermedium</title>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <script src="https://rawgit.com/aframevr/aframe/4d90df5/dist/aframe-master.min.js"></script>
    {% if IS_HOME %}
      <script src="build/build.js"></script>
    {% else %}
      <script src="../build/build.js"></script>
    {% endif %}
    {% if IS_PRODUCTION %}<style>.a-inspector-loader{ display: none; }</style>{% endif %}
  </head>
  <body>
    <a-scene environment="{{ environment or 'preset: forest' }}">
      <a-assets>
        <a-mixin id="portal"
          link="backgroundColor: #333; borderColor: #111; visualAspectEnabled: true"
          raycastable></a-mixin>
      </a-assets>

      <a-entity id="cameraRig">
        <a-camera id="camera" look-controls position="0 1.6 0"></a-camera>

        <!-- Primary hand. -->
        <a-entity id="primaryHandContainer">
          <a-entity id="primaryHand" controller="hand: right"></a-entity>
        </a-entity>

        <!-- Secondary hand. -->
        <a-entity id="secondaryHandContainer">
          <a-entity id="secondaryHand" controller="hand: left"></a-entity>
        </a-entity>
      </a-entity>

      {% if IS_HOME %}
        <a-entity id="homeLinks" layout="type: circle; radius: 10; plane: xz" position="0 1.6 0">
          {% for link in links %}
            <a-entity mixin="portal" link="href: {{ link.url }}"></a-entity>
          {% endfor %}
        </a-entity>
      {% else %}
        {% for link in links %}
          <a-entity mixin="portal" link="href: {{ link.url }}" position="{{ link.position }}"></a-entity>
        {% endfor %}
      {% endif %}

      {% if not IS_PRODUCTION %}
        <a-entity id="mouseCursor" cursor="rayOrigin: mouse" raycaster="objects: [raycastable]"></a-entity>
      {% endif %}
    </a-scene>
  </body>
</html>
